@model EnglishCenter.Models.Grade
@{
    ViewBag.Title = "CreateGrade";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
    int courseId = Convert.ToInt32(Request.QueryString["courseId"]);
}

<script>
    $(document).ready(function () {
        function calculateTotal() {
            var attendance = parseFloat($('#attendance').val()) || 0;
            var courseProject = parseFloat($('#courseProject').val()) || 0;
            var homework = parseFloat($('#homework').val()) || 0;
            var MMT = parseFloat($('#MMT').val()) || 0;
            var EOMT = parseFloat($('#EOMT').val()) || 0;
            var total = (attendance + courseProject + homework + MMT + EOMT) / 5;
            var roundedTotal = Math.ceil(total)
            $('#total').val(roundedTotal);
            return true;
        }

        $('#attendance, #courseProject, #homework, #MMT, #EOMT').on('change', calculateTotal);
    });
</script>

<div class="container">
    <div style="padding-top : 2%">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:cornflowerblue;">ADD NEW GRADE </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="font-weight:bold; font-size:20px">
                        GRADE INFORMATION
                    </div>
                    <div class="panel-heading" style="font-weight:bold; font-size:20px">
                        @if (ViewBag.ThongBao != null)
                        {
                            <div class="form-group">
                                <h3>@ViewBag.ThongBao</h3>
                            </div>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">

                                @using (Html.BeginForm("CreateGrade", "Teacher", FormMethod.Post, new { @enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            <label class="text">
                                                ATTENDANCE
                                            </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.attendance, new { htmlAttributes = new { @class = "form-control", @placeholder = "Attendance" } })
                                                @Html.ValidationMessageFor(model => model.attendance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                COURSE PROJECT
                                            </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.courseProject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Course Project" } })
                                                @Html.ValidationMessageFor(model => model.courseProject, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                HOMEWORK
                                            </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.homework, new { htmlAttributes = new { @class = "form-control", @placeholder = "Homework" } })
                                                @Html.ValidationMessageFor(model => model.homework, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                MMT
                                            </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.MMT, new { htmlAttributes = new { @class = "form-control", @placeholder = "MMT" } })
                                                @Html.ValidationMessageFor(model => model.MMT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                EOMT
                                            </label>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.EOMT, new { htmlAttributes = new { @class = "form-control", @placeholder = "EOMT" } })
                                                @Html.ValidationMessageFor(model => model.EOMT, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-10">
                                                @Html.HiddenFor(model => model.total, new { @id = "total" })
                                                <span id="displayTotal"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                STUDENT
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.studentId, (SelectList)ViewBag.StudentList, "Choose Student", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.studentId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="text">
                                                COURSE
                                            </label>
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.courseId, (SelectList)ViewBag.CourseList, "Choose Course", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.courseId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Add New" class="btn btn-primary" />
                                                <a href="~/Teacher/Grade?courseId=@courseId"><input type="button" value="Cancel" class="btn btn-primary" /></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

